# Diretórios e arquivos criados pelo CLion
.idea/
*.iml
cmake-build-debug
cmake-build-release

# Arquivos de compilação
*.o
*.a
*.so
*.dll
*.exe

# Arquivos temporários do sistema operacional
*.swp
*.swo
*.bak
*.tmp

# Arquivos de configuração do CMake
CMakeCache.txt
CMakeFiles/
Makefile
CMakeScripts/

# Arquivos específicos do sistema operacional
.DS_Store
Thumbs.db
